<style>

</style>

<div class ='home-banner'>
  <div>
   <h1 class='banner-text'>Ready to set sail?</h1>
   <%= form_tag root_path, class: "form-inline", method: :get do %>
     <%= text_field_tag :query,
       params[:query],
       class: "form-control search-input",
       id: "search-bar",
       placeholder: "Search Boats"
     %>
     <%= submit_tag "Search", class: "btn btn-primary", id: "search-button" %>
   <% end %>
  </div>
</div>

<div class="listings shadow-lg listings-home">
  <% if @listings.exists? %>
    <div class="cards">
      <% @listings.each do |l| %>
      <a href='/listings/<%=l.id%>'>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path l.photo.key, height: 300, crop: :fill %>')">
         <%= l.name %>
         <div class='card-tag-bottom'>£<%= l.price_per_day%> / Day</div>
         <div class='location'><i class="bi bi-geo-alt-fill"></i> <%= l.location%></div>
         <div class='listing-card-status'><i class="bi bi-person-circle"></i> <%= l.user.name%></div>
      </div>
      </a>
      <% end %>
    </div>
  <% else %>
    <h1>Avast! No listings found!</h1>
  <% end %>
</div>

<% if @listings.exists? %>
<div class='map-home'>

<div class='container'>

<div id='map-scroll'  class='chart-check'>
<h1 style='font-weight: 600;' class='text-center pt-4'> - Check the Charts -</h1>
<p class='text-center pb-4'>Find a boat in your corner of the map.</p>
</div>

</div>

<div class="container-fluid">
  <div id="map" class='shadow-lg'
     style="width: 100%; height: 600px; border-radius: 25px; margin-bottom: 1rem;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

</div>

<% end %>

