<div class="container">
  <%= @listing.name %>
  <p>Price per day: £<%= @listing.price_per_day %></p>
  <p>Seven day discount: £<%= @listing.price_per_day * 7 * 0.9 %></p>
  <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>

  <%= link_to "Book now", new_listing_booking_path(@listing), class: "book" %>
</div>

<div id="map"
     style="width: 50%; height: 300px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
