<<<<<<< HEAD

<p><%= @listing.name %></p>
<%= cl_image_tag listing.photo.key, height: 300, width: 400, crop: :fill %>

<%= link_to "Book now", new_listing_booking_path(@listing) %>
=======
<div class="container">
  <%= @listing.name %>
  <p>Price per day: £<%= @listing.price_per_day %></p>
  <p>Seven day discount: £<%= @listing.price_per_day * 7 * 0.9 %></p>
  <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>

  <%= link_to "Book now", new_listing_booking_path(@listing), class: "book" %>
</div>
>>>>>>> d153a8d38cdfa3ba7054f5ee301244651edbd96a
