
<style>
  .show-image {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .show-box{
    display: flex;
    justify-content: space-between;
  }

  .listing-card {
    width: 400px;
    padding: 20px;
  }

  .map-padding {
    padding: 20px;
  }

</style>

<div class="show-box">

  <%# <div class="container pt-3"> %>
    <div class="shadow listing-card">
      <%= cl_image_tag @listing.photo.key, height: 230, width: 360, class: "show-image" %>
      <div class="text m-2 p-2">
        <h3><strong><%= @listing.name %></strong></h3>
        <h4>Craft type: <%= @listing.craft_type %></h4>
        <p>Location: <%= @listing.location %></p>
        <p>Price per day: £<%= @listing.price_per_day %></p>
        <% price = @listing.price_per_day * 7 * 0.9 %>
        <p><em>Seven day discount:</em> £<%= price.round(2) %></p>
        <% if current_user.id == @listing.user_id %>
          <%= link_to "Edit Booking", edit_listing_path(@listing), class: "btn btn-primary" %>
          <%= link_to "Delete Listing", listing_path(@listing), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Book now", new_listing_booking_path(@listing), class: "btn btn-primary" %>
        <% end %>
        <%= link_to "Back", listings_path, class: "btn btn-secondary" %>
        <%# MODAL FORM %>
        <div class="container">
          <button type="button" class="btn btn-success review-btn" data-toggle="modal" data-target="#form">
            Leave review
          </button>  
        </div>
        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header border-bottom-0">
                <%= simple_form_for @review, url: new_review_path, html: { class: "col-md-6 offset-md-3" } do |f| %>
                <p>Rate from 1-5:</p>
                <%= f.collection_radio_buttons :rating, [[1], [2], [3], [4], [5]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
                <%= b.radio_button + b.label {''} %>
                <% end %>
                <%= f.input :content, label: "Review:" %>
                <%= f.submit class: "btn btn-primary" %>
                <% end %>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews pt-4">
          <% @reviews = @listing.reviews %>
          <% @reviews.each do |r| %>
          <p><%= r.user.email %>:</p>
          <p>Rating: <%= r.rating %> stars</p>
          <p><%= r.content %></p>
          <% end %>
        </div>
      </div>
    </div>
  <%# </div> %>

  <%# <div class="container"> %>
    <div class="map-padding" id="map"
      style="width: 100%; height: 700px;"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <%# </div> %>

</div>
