<div style='margin-top: 5rem' class="container">

<h2><i class="fas fa-anchor"></i>  <%= @booking.listing.name %></strong></h2>
<p><%= @booking.start_date.strftime("%A, %b %d") %> to <%= @booking.end_date.strftime("%A, %b %d") %></p>

<div class="shadow listing-card p-4" id="background-white">
  <div class="cards-show">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @booking.listing.photo.key, height: 300, crop: :fill %>')">
  </div>
  <div id="map" class="box-shadow"
    style="width: 100%; height: 230px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
    <div class="card-booking">
      <div class= "card-booking-info">
        <p><strong>Status <i class="bi bi-bell-fill"></i>:</strong> <%= "#{@booking.status}" %></p>
        <p><strong>Location <i class="fas fa-search-location"></i> : </strong><%= "#{@booking.listing.location}" %></p>
        <p><strong>Rented by <i class="bi bi-person-circle"></i>
: </strong><%= "#{@booking.user.name}" %></p>
        <p><strong>Craft Type <i class="fas fa-ship"></i> : </strong><%= "#{@booking.listing.craft_type}" %></p>
        <p><strong>Price <i class="bi bi-currency-exchange"></i>
: </strong>£<%= "#{@booking.listing.price_per_day} / day" %></p>
        <p><strong>Contact Email <i class="bi bi-envelope-fill"></i>
: </strong><%= "#{@booking.user.email}" %></p>
      </div>
    </div>
      <div class="card-booking-buttons">
        <div class="booking-footer">
        <% if @owner == true %>
          <p><%= link_to "Edit Booking", edit_booking_path(@booking), class: "btn btn-primary m-1" %></p>
        <% end %>
          <p><%= link_to "Cancel Booking", booking_path(@booking), method: :delete, class: "btn btn-danger m-1" %></p>
        </div>
      </div>
    </div>
  </div>

  <div style='border: 2px solid #177FFC' class="flash flash-primary alert alert-dismissible fade show" role="alert">
    <span><strong>Aye matey!</strong> Your booking for <%= @booking.listing.name %> is <%= @booking.status.downcase %>!&nbsp&nbsp</span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
