<div class="navbar navbar-expand-sm navbar-light navbar-lewagon shadow-lg fixed-top">
   <ul class="navbar-nav">
      <li class="navbar-brand">
         <a href="/">
            <img src="https://svgsilh.com/svg/153812.svg" />
      </li>
      <li style='font-weight: 600 !important;' class="navbar-text">
      YouBoat<span style='color: #177FFC'>.</span>
      </li>
      </a>
   </ul>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <% if current_user %>
         <li class="nav-item">
            <%= link_to "New listing", new_listing_path, class: "btn btn-primary nav-new-listing shadow-lg" %>
         </li>
         <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
         </li>
         <%end%>
         <%# REMOVED BOOKINGS - found on the user page %>
         <li class="nav-item dropdown">
            <% if current_user %>
            <%# change to a hard coded image avatar NOT Seb %>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://pbs.twimg.com/profile_images/1262420533213368323/SIOecIDH.jpg" />
            <%# <h4 class="drowpdown-toggle user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdown"><%= current_user.email CLOSE H4 %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
               <p class="dropdown-item disabled user"><%= current_user.email %></p>
               <%= link_to "Profile", profile_path(current_user), class: "dropdown-item" %>
               <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
         </li>
         <% end %>
      </ul>
   </div>
</div>