<% if @current_user == @user %>
<div class='account-details'>
   <h1 class='profile-header'>Account Details</h1>
   <p><strong>Name</strong>: <%= @current_user.name %></p>
   <p><strong>Email</strong>: <%= @current_user.email %></p>
   <p><strong>My Bookings</strong>: <a href="#bookings-section"><%= @current_user.bookings.count%></a></p>
  <p><strong>My Listings</strong>: <a href="#listings-section"><%= @current_user.listings.count%></a></p>
</div>
<div id='bookings-section' class='bookings'>
   <h1 class='profile-header'>My bookings</h1>
   <div class="cards">
      <% @bookings.each do |b| %>
      <a href='/bookings/<%=b.id%>'>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path b.listing.photo.key, height: 300, crop: :fill %>')">
         <%= b.listing.name %>
         <div class='card-tag-bottom'><%= b.start_date%></div>
         <div class='booking-host'>Host: <%= b.listing.user.email%></div>
         <div class='booking-status'><%= b.status%></div>
      </div>
      </a>
      <% end %>
      <% if @bookings.size == 0 %>
       <p>None to show! <a href="/listings">Take a look at the listings?</a></p>
       <%end%>
   </div>
</div>
<% else %>
<%= @user.name %>
<% end %>
<div id='listings-section' class='listings'>
   <h1 class='profile-header'><%=@user == @current_user ? 'My listings' : 'User Listings'%></h1>
   <div class="cards">
      <% @user.listings.each do |l| %>
      <a href='/listings/<%=l.id%>'>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path l.photo.key, height: 300, crop: :fill %>')">
         <%= l.name %>
         <div class='card-tag-bottom'>PPD £<%= l.price_per_day%></div>
      </div>
      </a>
      <% end %>
       <% if @user.listings.size == 0 %>
       <p>None to show! <a href="/listings/new">Create a listing? </a></p>
       <%end%>
   </div>
</div>

